body{
  min-height: 100vh;
  margin: 0px;
  display: inline-flex;
}

header {
	background-color: #ffb100;
  position: absolute;
	font-size: 10px;
	font-family: cursive;
	height: 80px;
	top:0px;
	right: 0px;
	left: 0px;
}

#vaquita_cabeza {
  margin-top: 5px;
	margin-left: 100px;
	max-height: 70px;
}

#logo{
  max-height: 65px;
  margin-top: 7px;
  margin-left: 300px;
}

#carrito {
	margin-right: 40px;
  margin-top: 20px;
	float: right;
	max-height: 40px;
}

#usuario {
	margin-right: 40px;
  margin-top: 20px;
	float: right;
	max-height: 40px;
}

#menu_usuario {
	margin-right: 20px;
  margin-top: 30px;
	float: right;
	max-height: 40px;
  color: black;
  background-color: white;
  border-color: white;
}

nav {
	background-color: #ffebc6;
  position: sticky;
	font-size: 10px;
	font-family: cursive;
	text-align: center;
	width: 300px;
	margin-top: 80px;
	right: 0px;
  bottom: 0px;
	margin-bottom: 50px;
}

#buscador{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#buscar {
  font-weight: bold;
	margin-top: 10px;
	margin-right: 50px;
	width: 100px;
	float: right;
  color: #FFFFFF;
  background-color: #f8c630;
  border-color: #f8c630;
}

#novedades {
  font-weight: bold;
	margin-top: 20px;
	width: 200px;
  color: #FFFFFF;
  background-color: #f8c630;
  border-color: #f8c630;
}

#mas_visto {
  font-weight: bold;
	margin-top: 20px;
	width: 200px;
  color: #FFFFFF;
  background-color: #f8c630;
  border-color: #f8c630;
}

#categorias {
  color: grey;
  background-color: #ffffff;
}

article{
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 15px;
  position: sticky;
}

h1{
  margin-top: 50px;
  margin-left: 220px;
  font-size: 40px;
  font-family: cursive;
}

#ayuda{
  margin-top: 10px;
  margin-left: 120px;
}

#enviar{
  margin-left: 500px;
  margin-top: 20px;
}

#gracias{
  margin-top: -270px;
  margin-right: 130px;
  float: right;
  max-width: 200px;
}

#registro{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 280px;
}

.cuadradito{
  float: right;
  margin-left: 50px;
  margin-right: 200px;
}

#enviar_datos{
  margin-top: 30px;
  float: right;
  margin-right: 200px;
}

#bienvenida{
  margin-top: 0px;
  margin-right: 130px;
  float: right;
  max-width: 200px;
}

footer{;
  position: fixed;
  margin-top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  background-color:#545863;
  color:#FFFFFF;
}

#cert{
  margin-top: 10px;
  margin-left: 60px;
}

#copyright{
  max-width: 17px;
}

#terminosycond{
  margin-left: 30px;
  color: #FFFFFF;
}
