<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- muuuvies</title>
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }}/>
</head>

<body>

  <header>
    {% if not session['usuario'] %}
      <a href = "/index"><img id="vaquita_cabeza" alt="Error" src="{{ url_for ('static', filename='images/diseño/vaca.PNG')}}"></a>
      <a href = "/novedades"><img id="logo" alt="Error" src="{{ url_for ('static', filename='images/diseño/muuuvie.png')}}"></a>
      <a href = "/login"><img id="usuario" alt="Error" src="{{ url_for ('static', filename='images/diseño/login.png')}}"></a>


      <a href = "/carrito"><img id="carrito" alt="Error" src="{{ url_for ('static', filename='images/diseño/carrito.PNG')}}"></a>
    {% else %}
      <a href = "/index"><img id="vaquita_cabeza" alt="Error" src="{{ url_for ('static', filename='images/diseño/vaca.PNG')}}"></a>
      <a href = "/novedades"><img id="logo" alt="Error" src="{{ url_for ('static', filename='images/diseño/muuuvie.png')}}"></a>

      <select id="menu_usuario" onchange="location = this.value;" >
        <option>{{ session['usuario'] }}</option>
        <option value="/perfil/{{  session['usuario'] }}">Perfil</option>
        <option value="/historial">Historial</option>
        <option value="/ayuda">¡Ayuda!</option>
        <option value="/logout">Cerrar sesión</option>
      </select>

      <a href = "/perfil/{{  session['usuario'] }}"><img id="usuario" alt="Error" src="{{ url_for ('static', filename='images/diseño/usuario.PNG')}}"></a>
      <a href = "/carrito"><img id="carrito" alt="Error" src="{{ url_for ('static', filename='images/diseño/carrito.PNG')}}"></a>
    {% endif %}
  </header>

  <nav>
    <form action="busqueda" method="post" novalidate>
      <input name="busqueda" id="buscador" type="search" placeholder="Introduce una muuuvie..."> <!--autocomplete="" -->
      <input type="submit" id="buscar" value="Buscar">
    </form>
      <br><br>
      <div>
        <br><br>
        <a href = "/novedades" id = "novedades">Novedades</a>
        <br><br>
        <a href = "/masvistas" class="mas_visto">Muuuvies + vistas</a>
        <br><br>
        <a href = "/index" class="mas_visto">Todas</a>
      </div>
      <br><br>

      <select id="categorias" onchange="location = this.value;">
        <option>Elegir categoría</option>
        <option value="/categorias/animacion">Animación</option>
        <option value="/categorias/aventura">Aventuras</option>
        <option value="/categorias/comedia">Comedia</option>
        <option value="/categorias/drama">Drama</option>
        <option value="/categorias/miedo">Miedo</option>
        <option value="/categorias/ciencia_ficcion">Ciencia ficción</option>
        <option value="/categorias/musical">Musical</option>
        <option value="/categorias/romantica">Romanticas</option>
      </select>
    </nav>

    <article>
          {% block content%} {% endblock %}
    </article>


    <footer>
        <div id="cert">
          <img id="copyright" alt="Error" src="{{ url_for ('static', filename='images/diseño/copyright.png')}}">
          2019, muuuvie
          <a id="terminosycond" href="{{ url_for ('static', filename='files/terms_and_cond.md')}}">Términos y condiciones</a>
        </div>
    </footer>
</body>
</html>
