{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='scripts/validar_login.js')}}"></script>
{% endblock %}

  <h1>{{ title }}</h1>
  <form name="formulario" id="login" action="" method="post" onSubmit="return validar()">
      {% if existe %}
        <p class="erroruser">No existe ese usuario</p>
      {% endif %}
      <label><b>Username</b></label>
      <input name="username" type="text" placeholder="Enter username" required>
      <br></br>
      <label><b>Password</b></label>
      <input name="password" type="password" placeholder="Enter password" required>
      <br></br>
      <input type="submit" value="Login" class="buscar hov">
  </form>
  <div id="registrar">
    <img id="registro_foto" alt="Error" src="{{ url_for ('static', filename='images/diseño/registro.png')}}">
    <br><br>
    <a href = "registro"  id="registrate">Regístrate!!</a>
  </div>
{% endblock %}
