{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

<div class="info_peli">
      <div>
        <h1>{{ title }}</h1>
        <div class="info_peli" id="info_sin_foto">
          <p class="elem_info_peli orange_guay">Precio: {{ pelicula.precio }} ubres</p>
          <p class="elem_info_peli">Puntuación:</p>
          <label class="elem_info_peli" id="cheked_star_peli">{{ pelicula.puntuacion }}★</label>
          <p class="elem_info_peli">{{ pelicula.anno }}</p>
          {% for c in pelicula.categorias %}
            <p class="elem_info_peli">{{ c.cat }}</p>
          {% endfor %}
          </form>
        </div>
        <p class="sinopsis_title">Director</p>
        <p class = "elem_info_peli">{{ pelicula.director }}</p>
        <p class="sinopsis_title">Sinopsis</p>
        <p class="elem_info_peli">{{ pelicula.sinopsis }}</p>
        <a href = {{pelicula.trailer}} class="elem_info_peli" id="trailer_link">
          Ver trailer</a>
        <p class="sinopsis_title">Reparto</p>
        <ul>
        {% for a in pelicula.actores %}
          <li>  {{ a.personaje }} interpretado por {{ a.nombre }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="right_side_film">
      <br><br/>
        <img class="foto_info_peli" alt="Error" src="{{ url_for('static', filename ='images/pelis/' + pelicula.poster) }}">
        <br><br/>
        <form name="formulario" action="" method="post">
          <button type="submit" class="button1 hov">Añadir al carrito</button>
        </form>
      </div>
    </div>

{% endblock %}
