{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}

<h1>Mi perfil</h1>
<div id="perfil">
  <b>Nombre y apellidos: </b> {{ name }}
  <br><br/>
  <b>Tarjeta de crédito: </b> {{ card }}
  <br><br/>
  <b>Usuario: </b> {{ username }}
  <br><br/>
  <!-- <b>Fecha de nacimiento: </b> 28/07/1997
  <br><br/>
  <b>Fecha de ingreso: </b> 27/09/2019
  <br><br/> -->
  <b>Email: </b> {{ mail }}
  <a href = "/cambiar_contrasena/{{ username }}" class="orangeee"><p>Cambiar contraseña</p></a>
  <!-- <br><br/> -->
  <b>Saldo: </b> {{ saldo }} ubres
  <br><br/>
  <b>Incrementar saldo: </b>
  <br><br/>
  {% if error %}
    <p class="erroruser">Debe ingresar una cantidad positiva</p>
  {% endif %}
  <form name="formulario" action="" method="post" onSubmit="return cambiarContrasena()" >
    <p>Cantidad a añadir </p>
    <input name="saldo_nuevo" type="number">
    <br><br/>
    <button type=submit class="button1 hov">Incrementar</button>
  </form>
  <br><br/>
  <!-- <a href = "/cambiar_contrasena/{{ username }}" class="orangeee"><p>Cambiar contraseña</p></a> -->
  </div>
{% endblock %}
