{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    {% block javascripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='scripts/validar_registro.js')}}"></script>
      <script>
      $(document).ready(function(){
        $('#password').keyup(function(e) {
             var strongRegex = new RegExp("^(?=.{10,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$", "g");
             var mediumRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z]).*$", "g");
             var enoughRegex = new RegExp("^(?=.{8,}).*$", "g");
             if(false == enoughRegex.test($(this).val())){
                     $('#passstrength').className = 'error';
                     $('#passstrength').html('Contraseña no válida');
             }
             else if (strongRegex.test($(this).val())) {
                     $('#passstrength').className = 'ok';
                     $('#passstrength').html('Fuerte!');
             } else if (mediumRegex.test($(this).val())) {
                     $('#passstrength').className = 'alert';
                     $('#passstrength').html('Media!');
             } else {
                     $('#passstrength').className = 'error';
                     $('#passstrength').html('Débil!');
             }
             return true;
        });
        // $('#my_passw').keyup(funtion(){
        //   var passw = $(this).val();
        //   if(passw.length<10){
        //
        //     }
        //   }
        // })
      })
      </script>
    {% endblock %}

    <h1>Crear nuevo usuario</h1>
    <img id="bienvenida" alt="Error" src="{{ url_for ('static', filename='images/diseño/bienvenida.png')}}">
    <form id="registro" name="formulario" action="" method="post" onSubmit="return validar()">
      <input name="nombre" type="text" class="cuadradito" placeholder="Nombre y apellidos" required>
      <br><br/>
      <input name="tarjeta" type="text" class="cuadradito" placeholder="Tarjeta de credito" required>
      <br><br/>
      <input name="cvc" type="password" class="cuadradito" placeholder="CVC" required>
      <br><br/>
      <input name="mail" type="text" class="cuadradito" placeholder="Email" required>
      <br><br/>
      {% if existe %}
        <p class="erroruser">Usuario ya existente</p>
      {% endif %}
      <input name="username" type="text" class="cuadradito" placeholder="Usuario" required>
      <br><br/>
      <span id="passstrength" class="cuadradito"></span>
      <br><br/>
      <input id="password" name="password" type="password" class="cuadradito" placeholder="Contraseña" required>
      <br><br/>
      <input name="password2" type="password" class="cuadradito" placeholder="Repetir contraseña" required>
      <br><br/>
      <input type="submit" value="Enviar datos" id="buscar">
      <br></br>
      <input type="reset" value="Borrar" id="buscar">
    </form>
{% endblock %}
