{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% if not movies %}
    <p class="mensaje_error">&nbsp No existen películas que mostrar
  {% endif %}
  <div id="int_article">
    {% for item in movies %}
    <div class="basic_peli">
      <!-- hay que ver si pasando solo el id se puede hacer -->
      <a href = "{{ url_for('pelicula', valor =  item.movieid) }}"><img class="basic_foto" alt="Error" src="{{ url_for('static', filename ='images/pelis/camp_rock.jpg') }}"></a>
      <div class="punt_año">
        &nbsp;<label class="cheked_star">5★</label>
        <p class="año">{{ item.year }}</p>
      </div>
      <a href = "{{ url_for('pelicula', valor =  item.movieid ) }}"><p class="titulo_peli">{{ item.movietitle }}</p></a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
